body {;
	 font-family: "museo-slab",serif;
	 color: #444443;
	 font-size: 1em;
	 /*text-align: center;*/
	 margin-top: 5%;
	 background: #f9f9f9;
}

.breadcrumbs {
	position: fixed; 
	top: 5px;
	border: none;
	text-decoration: none;
	background: none;
}

	.breadcrumbs a:hover{
		color: #999;
		border:none;
	}

.row {
	margin: 0 auto;
	background: #fff;
	padding:40px 0 20px 0;
	border-radius: 2px;
	text-align: center;
}

a {
	font-weight: bold;
	color: #444443;
}

a:hover{
}

hr {
	border-color: #fff;
	padding: 0;
}

h1 {
	font-family: "museo-slab",serif;
	color: #333332;
	font-size: 2.5em;
	text-transform: uppercase;
	margin: 40px 0 15px 0;
	padding:0;
	line-height: 2em;
}

	h1 a:hover {
		border:none;
	}

h2 {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0 0 10px 0;
	float: left;
	clear: left;
	width: 200px;
}

p {
	line-height: 1.7em;
}

	.strong {
		font-weight: bold;
	}

	.links {
		font-size: 80%;
		padding: 10px;
		margin:2px 0 0 0;
	}

	img {
		max-width: 150px;
		border-radius: 2px;
	}

.content {
	width: 200px;
	float: right;
	margin: 2px 0 10px 0;
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: left;
}



