body {;
	 font-family: "proxima-nova",sans-serif;
	 color: #444443;
	 font-size: 1.1em;
	 text-align: center;
}

.row {
	margin: 0 auto;
}

a {
	font-weight: bold;
	color: #444443;
}

a:hover{
	border-bottom: 1px dashed #000;
}

hr {
	border-color: #fff;
	padding: 0;
}

h1 {
	font-family: "brandon-grotesque",sans-serif;
	color: #333332;
	font-size: 2.5em;
	text-transform: uppercase;
	margin: 10% 0 20px 0;
	padding:0;
	line-height: 2em;
}

p {
	line-height: 1.7em;
}

	.strong {
		font-weight: bold;
	}

	.byline {
		margin:0;
		font-size: 90%;
		margin-top: -20px;
		color: #777;
	}